openapi: 3.0.0
servers:
  - description: Travellers API
    url: https://api.travellers.com
tags:
  - name: Post
  - name: User
  - name: Location
info:
  description: This is API of Social Network for Travellers
  version: "1.0.0"
  title: Social Network for Travellers API
  contact:
    email: you@your-company.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
paths:
  /posts:
    post:
      tags:
        - Post
      summary: create post
      operationId: createPost
      description: Publishes post and returns presigned URLs for received media filenames
      responses:
        '201':
          $ref: '#/components/responses/CreatePost'
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      requestBody:
        $ref: '#/components/requestBodies/Post'
  /posts/{postId}:
    get:
      tags:
        - Post
      summary: get post
      operationId: getPost
      description: Gets post and all required info
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses: 
        '200':
          $ref: '#/components/responses/LoadPost'
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
  /posts/{postId}/rate:
    post:
      tags:
        - Post
      summary: rate post
      operationId: ratePost
      description: Sets rate for post
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses: 
        '200':
          $ref: '#/components/responses/Rate'
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - Post
      summary: delete rate from post
      operationId: deleteRate
      description: Deletes rate from post
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses: 
        '200':
          $ref: '#/components/responses/Rate'
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
  /posts/{postId}/comment:
    post:
      tags:
        - Post
      summary: comment post
      operationId: commentPost
      description: Adds comment for post
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses: 
        '200':
          description: Post successfully commented
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      requestBody: 
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Comment'
  /users/{userId}/subscribe:
    post:
      tags:
        - User
      summary: subscribe to user
      operationId: subscribe
      description: Subscribes to user
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses: 
        '201':
          description: Subscription to user successfully created
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - User
      summary: delete subscription to user
      operationId: unsubscribe
      description: Deletes subscription to user
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses: 
        '200':
          description: Subscription to user successfully removed
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
  /users/{userId}/feed:
    get:
      tags:
        - User
      summary: get user feed
      operationId: getUserFeed
      description: Returns user feed
      parameters:
        - $ref: '#/components/parameters/UserId'        
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses: 
        '200':
          description: User feed successfully received
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  nextCursor:
                    type: string
                    nullable: true
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
  /locations/search:
    get:
      tags:
        - Location
      summary: search location
      operationId: searchLocation
      description: Returns locations
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 1 }
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses: 
        '200':
          description: List of Locations
          content:
            application/json: 
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
                  nextCursor:
                    type: string
                    nullable: true
        '400':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
components:
  schemas:
    MediaBase:
      type: object
      properties:
        content_type:
          type: string
        size:
          type: integer
          format: int64
    MediaMeta:
      allOf:
        - $ref: '#/components/schemas/MediaBase'
        - type: object
          properties:
            filename:
              type: string
    MediaResource:
      allOf:
        - $ref: '#/components/schemas/MediaBase'
        - type: object
          properties:
            media_id:
              type: integer
              format: int64
            status:
              type: string
              enum: [UPLOADING, PROCESSING, READY]
              default: UPLOADING
            url:
              type: string
              format: uri
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        avatar:
          type: string
          format: uri
    Location:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        address:
          type: string
        description:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        thumbnail:
          type: string
          format: uri
        post_count:
          type: integer
          format: int64
    Rate:
      type: object
      properties:
        value:
          type: integer
          format: int64
    Subscription:
      type: object
      properties:
        follower_id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
    PostCommon:
      type: object
      properties:
        title:
          type: string
        text:
          type: string
    Post:
      allOf:
      - $ref: '#/components/schemas/PostCommon'
      - type: object
        properties:
          id:
            type: integer
            format: int64
          author:
            $ref: '#/components/schemas/User'
          location:
            $ref: '#/components/schemas/Location'
          rate:
            $ref: '#/components/schemas/Rate'
          media:
            type: array
            items:
              $ref: '#/components/schemas/MediaResource'
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
    Comment:
      type: object
      properties:
        id:
          type: integer
          format: int64
        user_id:
          type: integer
          format: int64
        message:
          type: string
        reply_id:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
    PresignedMedia:
      type: object
      properties:
        media_id:
          type: integer
          format: int64
        upload_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
  responses:
    CreatePost:
      description: Post successfully created
      content: 
        application/json: 
          schema:
            type: object
            properties:
              id:
                type: integer
                format: int64
              created_at:
                type: string
                format: date-time
              presigned_media:
                type: array
                items:
                  $ref: '#/components/schemas/PresignedMedia'
    LoadPost:
      description: Post that need to be returned
      content:
        application/json: 
          schema:
            $ref: '#/components/schemas/Post'
    Locations:
      description: List of Locations
      content:
        application/json: 
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Location'
    Posts:
      description: List of posts
      content:
        application/json: 
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Post'
    Rate:
      description: Post rate
      content:
        application/json:
          schema:
            type: object
            properties:
              count:
                type: integer
                format: int64
    Error:
      description: Error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              time:
                type: string
                format: date-time
              trace_id:
                type: string
                format: uuid
  requestBodies:
    Post:
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/PostCommon'
            - type: object
              properties:
                location_id:
                  type: integer
                  format: int64
                media:
                  type: array
                  items:
                    $ref: '#/components/schemas/MediaMeta'
      description: Post that needs to be created
      required: true
  parameters:
    PostId:
      name: postId
      in: path
      description: post ID to return
      required: true
      schema:
        type: integer
        format: int64
    UserId:
      name: userId
      in: path
      description: user ID to return
      required: true
      schema:
        type: integer
        format: int64
    Limit:
      description: Number of items per page (pagination)
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
    Cursor:
      description: Opaque cursor for pagination
      name: cursor
      in: query
      schema: { type: string }